body,html, menu{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
#main-nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 47px;
    background-color: #F2784B;
    border-bottom: 5px solid #B25837;
}
#nav{
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
#nav li{
    float: left;
    position: relative;
    padding: 13px 18px;
    color: #F2F1EF;
}
#nav li:hover{
    cursor: pointer;
    background-color: #FF7E4F;
}

.dropdown ul{
    display: none;
    position: absolute;
    top: 46px;
    margin-left: -18px;
    margin-right: -18px;
    padding: 0;
    width: 100%;
}
.dropdown:hover ul.dropdown-list{
    display: block;
}
.dropdown ul.dropdown-list li.a{
    background-color:#FF7E4F;
    width: 150px;
    position: relative;
}
.sub-dropdown ul.sub-dropdown-list{
    display: none;
    position: absolute;
    top: 0;
    left: 204px;
    width: 100%;
}
.sub-dropdown:hover ul{
    display: block;
}
.sub-dropdown-list li{
    background-color: #FF9168;
}
section{
    width: 960px;
    margin: 13px auto;
}